<div class="card text-white card-has-bg click-col" [ngClass]="{'background-image': 'url(' + defaultImg + ')'}"
    [routerLink]="['/colecciones', coleccion.usuario_id, coleccion.codigo]">

    <!-- <img class="card-img"> -->
    <div class="card-img-overlay d-flex flex-column">
        <div class="card-body">
            <small class="card-meta mb-2">
                {{ coleccion.categoria | titlecase}}
            </small>
            <h4 class="card-title mt-0 "><a class="text-white" herf="#">
                    {{ coleccion.titulo }}
                </a>
            </h4>
            <small><i class="far fa-clock"></i> {{ coleccion.fecha_creacion | date }}</small>
        </div>
        <div class="card-footer">
            <div class="media">
                <div class="media-body">
                    <h6 class="my-0 text-white d-block"> {{coleccion.username}} </h6>
                </div>
                <div>
                    <i class="fa-solid fa-star" *ngIf="coleccion.trusted !== 0"></i>
                    <img class="m-auto mt-2 rounded-circle" [src]="coleccion.avatar || defaultImg"
                        alt="Generic placeholder image" style="max-width:50px">
                </div>

            </div>
        </div>
    </div>
</div>