#productos_filter{
    margin-top: 75px;
}


#productos_view{
    background-color: var(--colorPrimario);
    padding: 20px;
}

#filtros{
    background-color:var(--colorTerciario);
}

#filterForm{
    display: flex;
    flex-direction: column;
}

hr{
    color: var(--colorPrimario);
}

p{
    margin:0;  
}

#prodBtn{
    position: absolute;
    right: -100%;
    top: 515px;
}

.card-img-top{
    height: 414px;
    background-size:100%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: 0.3s;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    border-radius: .25rem;
    overflow: hidden;
}

#usuario_info{
    font-size: 0.8rem;
    line-height: 1.1em;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
}

#trusted_icon{
    position: absolute;
    top: 5px;
    right: 5px;
}

:is(.navbar-toggler, .btn-close):focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 .25rem var(--colorPrimario);
}

:is(.navbar-toggler, .btn-close):hover  {
    color: #000;
    text-decoration: none;
    opacity: .75;
}


article:hover .card-img-top{
    background-size: 125%;
}

article:hover #prodBtn{
    top: 515px;
    right: 40px;
    transition: 0.3s;
}

#hero {
     background: url(https://b282c5de4f50ed30d5ce-25e9f6b52714e6c3d4dbb7e330152014.ssl.cf3.rackcdn.com//uploaded_thumb_medium/f0444fbf69583fd64dda63349911774a/ofertas.jpeg);
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     height: 100vh;
 }

 .hero_text {
    margin-top: 250px;
    font-weight: 700;
 }

 .banner-top {
     padding-top: 30px;
 }

 .container {
     display: block;
 }

 .pos-rel {
     color: var(--colorSecundario);
     padding: 20px;
     border-radius: 5px;
     text-align: center;
 }

 .block-imagen {
     background-image: url(https://www.madridiario.es/fotos/1/137426_macchinine_tienda_coleccionismo_miniaturas_coches23_kr_thumb_722.jpg);
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
     width: 100%;
     height: 400px;
 }
