#productos_filter{
    margin-top: 75px;
}


#productos_view{
    background-color: var(--colorPrimario);
    padding: 20px;
}

#filtros{
    background-color:var(--colorTerciario);
}

#filterForm{
    display: flex;
    flex-direction: column;
}

hr{
    color: var(--colorPrimario);
}

p{
    margin:0;  
}


#prodBtn{
    position: absolute;
    bottom: -100%;
}

.card-img-top{
    height: 414px;
    background-size:100%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: 0.3s;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    border-radius: .25rem;
    overflow: hidden;
}

#usuario_info{
    font-size: 0.8rem;
    line-height: 1.1em;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
}

#trusted_icon{
    position: absolute;
    top: 5px;
    right: 5px;
}

:is(.navbar-toggler, .btn-close):focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 .25rem var(--colorPrimario);
}

:is(.navbar-toggler, .btn-close):hover  {
    color: #000;
    text-decoration: none;
    opacity: .75;
}


article:hover .card-img-top{
    background-size: 125%;
}

article:hover #prodBtn{
    bottom: 20px;
    right: 40px;
    transition: 0.3s;
}

