<nav id="productos_filter" class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <div class="botonera d-flex">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
                <span><i class="fa-solid fa-filter"></i></span>
            </button>
            <div class="navbar-brand ps-3">Busqueda avanzada</div>
        </div>
        <input type="submit" class="btn btn-secondary mb-2" value="Reiniciar Busqueda" (click)="reset()">

        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Busqueda avanzada</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <form #filtroProductos="ngForm" (ngSubmit)="search(filtroProductos.value)"
                    class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <hr>
                    <label class="form-label" for="nombre">Nombre</label>
                    <input class="form-control" type="text" ngModel name="nombre" placeholder="Nombre del producto"
                        required>
                    <hr>
                    <label class="form-label" for="username">Usuario</label>
                    <input class="form-control" type="text" ngModel name="username" placeholder="Nombre del usuario"
                        required>
                    <hr>
                    <label class="form-label" for="">Marca</label>
                    <input class="form-control" name="marca" type="text" ngModel placeholder="Marca del producto"
                        required>
                    <hr>
                    <div>
                        <label class="form-label" for="precio">Precio</label>
                        <input class="form-control" type="number" id="precio" name="precioMin" min="0" ngModel
                            placeholder="0" max="99999" required>
                        <input class="form-control mt-2" type="number" id="precio" name="precioMax" min="0" ngModel
                            max="99999" placeholder="99999" required>
                    </div>
                    <hr>
                    <label class="form-label" for="">Categorias</label>
                    <select name="categoria" ngModel class="form-select" required>
                        <option value="">Selecciona una categoria</option>
                        <option value="figuras">figuras</option>
                    </select>
                    <hr>
                    <label class="form-label" for="estado">Estado</label>
                    <select name="estado" ngModel class="form-select" required>
                        <option value="">Estado del producto</option>
                        <option value="nuevo">Nuevo</option>
                        <option value="usado">Usado</option>
                        <option value="desperfectos">Desperfectos</option>
                    </select>
                    <hr>
                    <input type="reset" class="btn btn-secondary mb-2" value="Limpiar campos">
                    <input type="submit" class="btn btn-secondary" value="Buscar">
                </form>
            </div>
        </div>
    </div>
</nav>
<section id="productos_view">
    <div class="container">
        <h2 class="text-center">Mercado</h2>
        <div id="productos" class="row g-4">
            <article *ngFor="let producto of productosMercado" class="col-12 col-md-6 col-lg-4">
                <div class="card rounded-3">
                    <div class="img card-img-top" [ngStyle]="{'background-image': 'url(' + producto.imagen + ')'}">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{producto.nombre}}</h5>
                        <div id="usuario_info" class="p-1">
                            <p class="mb-2">{{producto.username}}</p>
                            <p>Rating:*****</p>
                            <div id="trusted_icon" *ngIf="producto.trusted!==0"><i class="fa-solid fa-star"></i></div>
                        </div>
                        <p class="mt-2 mb-2">Precio: {{producto.precio}}€</p>
                        <p>Estado: {{producto.estado | titlecase}}</p>
                        <div class="">

                        </div>
                        <button [routerLink]="['/producto', producto.id]" id="prodBtn" class="btn btn-success mt-3">Ir
                            al producto</button>
                    </div>
                </div>
            </article>

        </div>
    </div>
</section>