<div class="container">

    <section class="listaProductos">
        <div class="row">
            <div id="productos" class="row g-4">
                <article class="col-12 col-md-6 col-lg-4" *ngFor="let producto of productosColeccion">
                    <div class="card rounded-3">
                        <div class="img card-img-top" [ngStyle]="{'background-image': 'url(' + producto.imagen + ')'}">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><strong>{{producto.nombre}}</strong></h5>
                            <div id="usuario_info" class="p-1">
                                <p class="mb-2"><strong>{{producto.username}}</strong></p>
                                <p class="mb-0"><strong>Rating:</strong> {{producto.rating}}</p>
                                <div id="trusted_icon" *ngIf="producto.trusted!==0"><i class="fa-solid fa-star"></i>
                                </div>
                            </div>
                            <p class="mt-2 mb-2"><strong>Precio:</strong> {{producto.precio}}€</p>
                            <p><strong>Estado:</strong> {{producto.estado | titlecase}}</p>
                            <div class="">

                            </div>
                            <button [routerLink]="['/producto', producto.id]" id="prodBtn"
                                class="btn btn-success mt-3">Ir
                                al producto</button>
                        </div>
                    </div>
                </article>

            </div>

        </div>


    </section>

</div>