<section id="productos_view">
    <div class="container">
        <h2 class="text-center">Mercado</h2>
        <div id="productos" class="row g-4">
            <article *ngFor="let producto of misProductos" class="col-12 col-md-6 col-lg-4">
                <div class="card rounded-3">
                    <div class="img card-img-top" [ngStyle]="{'background-image': 'url(' + producto.imagen + ')'}">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{producto.nombre}}</h5>
                        <div id="usuario_info" class="p-1">
                            <p class="mb-2">{{producto.username}}</p>
                            <p>rating:*****</p>
                            <div id="trusted_icon" *ngIf="producto.trusted!==0"><i class="fa-solid fa-star"></i></div>
                        </div>
                        <p class="mt-2 mb-2">Precio: {{producto.precio}}€</p>
                        <p>Estado: {{producto.estado}}</p>
                        <button [routerLink]="['/producto', producto.id]" class="btn btn-success mt-3">Ir al
                            producto</button>
                    </div>
                </div>
            </article>

        </div>
    </div>
</section>