<section class="page_404">

    <div class="">
        <div class=" ">
            <div class="">
                <h1 class="text-center ">404</h1>
                <div class="four_zero_four_bg">

                </div>

                <div class="contant_box_404">
                    <h3 class="h2">
                        Upss! parece que no está por aquí lo que buscas
                    </h3>

                    <p>vuelve al inicio y comprueba que esté todo correcto</p>

                    <a class="link_404" [routerLink]="['/home']">Vuelve al Home </a>
                </div>
            </div>
        </div>
    </div>

</section>