#one {
    margin-top: 80px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: #495057;
	background-color: #fff;
	border-color: #dee2e6 #dee2e6 #fff;
}

img {
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

p {
	margin-top: 0;
	margin-bottom: 0;
}

.info_eval {
    border-left: 1px solid #e2e5ea;
    border-right: 1px solid #e2e5ea;
}

.perfil_img figure {
    margin: 0 auto;
    width: 300px;
    max-height: 300px;
    border: 1px solid #aaa;
}

.perfil_img figure img {
    margin: 0 auto;
    padding: 5px;
}

.perfil_tabs nav ul li {
    cursor: pointer;
    margin-inline: 10px;
    padding: 5px;
}

.info_top {
    position: relative;
}

.info_top .circle {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 10px solid var(--colorPrimario);
}

.circle>div {
    border-radius: 50%;
    overflow: hidden;
    height: 94px;
    width: 94px;
    margin-top: 3px;
    margin-left: 3px;
}


.circle>div img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.trusted_star {
    position: absolute;
    right: 175px;
    top: 0;
    font-size: 34px;
    color: goldenrod;
}

.rating_text ul {
    padding-left: 0;
}

.rating_text ul li {
    text-align: center;
    margin: 0 auto;
    width: 110px;
    height: 55px;
    padding: 13px 5px;
}

.rating_text p {
    padding-bottom: 20px;
}

.positive {
    background-color: #88af5439;
    border-bottom: 3px solid var(--colorQuinario);
}

.neutral {
    background-color: #adadac39;
    border-bottom: 3px solid #adadac;
}

.negative {
    background-color: #d36f4d50;
    border-bottom: 3px solid #b15c3f;
}

.info_bio {
    border: 1px solid #e2e5ea;
}

.info_bio div {
    display: flex;
    flex-direction: column;
}

.wrapper {
    margin: 10vh;

}

.card {
    border: none;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
    border-radius: 20px;
    min-height: 450px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .card {
        min-height: 350px;
    }
}

@media (max-width: 420px) {
    .card {
        min-height: 300px;
    }
}

.card.card-has-bg {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center center;
}

.card.card-has-bg:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.card.card-has-bg:hover {
    transform: scale(0.98);
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
    background-size: 130%;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.card.card-has-bg:hover .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    background: #234f6d;
    background: linear-gradient(0deg, rgba(4, 69, 114, 0.5) 0%, var(--colorTerciario) 100%);
}

.card .card-footer {
    background: none;
    border-top: none;
}

.card .card-footer .media img {
    border: solid 3px rgba(255, 255, 255, 0.3);
}

.card .card-meta {
    color: rgb(133, 250, 133);
}

.card .card-body {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.card:hover {
    cursor: pointer;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

.card:hover .card-body {
    margin-top: 30px;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

.card .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    background: #234f6d;
    background: linear-gradient(0deg, rgba(35, 79, 109, 0.3785889356) 0%, #455f71 100%);
}
