<div id="one">
    <div class="container">
        <nav style="--bs-breadcrumb-divider:'>'">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                <li class="breadcrumb-item active">Perfil de {{user?.username}}</li>
            </ol>
        </nav>

        <div class="user_info">
            <section class="info_box bg-light">
                <div class="perfil_img d-flex flex-column pt-3">
                    <div class="text-center my-2">
                        <h3>{{user?.username}}</h3>
                    </div>
                    <figure>
                        <img [src]="user?.avatar" alt="user?.username">
                    </figure>
                    <div class="button_container text-center py-3">
                        <button class="btn btn-success">
                            ESTO ME LLEVARÍA A /:userId/colecciones/:colecId
                        </button>
                    </div>
                </div>
                <div class="perfil_tabs mt-3">

                    <nav>
                        <ul class="nav nav-tabs">
                            <li class="nav-item nav-link" [ngClass]="{'active': profileTab === 'informacion'}"
                                (click)="cargarArticle('informacion')">
                                Información
                            </li>
                            <li class="nav-item nav-link" [ngClass]="{'active': profileTab === 'colecciones'}"
                                (click)="cargarArticle('colecciones')">
                                Colecciones
                            </li>
                        </ul>
                    </nav>

                    <div class="content">
                        <article *ngIf="profileTab === 'informacion'">
                            <div class="info_eval">
                                <div class="info_top d-flex justify-content-center">

                                    <div class="circle mt-4">
                                        <div>
                                            <i *ngIf="user?.trusted === 1" class="fa-solid fa-star trusted_star"></i>

                                            <img [src]="user?.avatar" alt="user?.username">
                                        </div>
                                    </div>
                                </div>
                                <div class="info_text text-center my-4">
                                    <p>
                                        <strong>98%</strong>
                                        de valoraciones positivas
                                        <br>
                                        en 139 ventas (26 miembros).
                                    </p>
                                </div>
                                <div class="rating_text">
                                    <ul class="d-flex justify-content-between">
                                        <li class="positive">
                                            <span>21 Positivas</span>
                                        </li>
                                        <li class="neutral">
                                            <span>4 Neutrales</span>
                                        </li>
                                        <li class="negative">
                                            <span>1 Negativas</span>
                                        </li>
                                    </ul>
                                    <p class="text-muted small ps-3">* Valoraciones recibidas en los últimos 6 meses.
                                    </p>
                                </div>
                            </div>

                            <div class="info_bio p-3">
                                <div class="my-3">
                                    <strong>Miembro desde:</strong>
                                    <span>15 jul. 2022</span>
                                </div>
                                <div class="my-2">
                                    <strong>Última conexión:</strong>
                                    <span class="text-muted">Menos de 24 horas</span>
                                    <span class="text-success">Online</span>
                                    <span class="text-danger">Más de 1 semana</span>
                                </div>
                                <div class="my-2">
                                    <strong>Idiomas:</strong>
                                    <ul>
                                        <li>Español</li>
                                        <li>Inglés</li>
                                    </ul>
                                </div>
                                <div class="my-2">
                                    <strong>Ubicación:</strong>
                                    <span><i class="fa fa-map-marker me-2"></i>Algeciras, España</span>
                                </div>

                            </div>
                        </article>

                        <article *ngIf=" profileTab==='colecciones'">
                            ESTO ES COLECCIONES
                            <br>
                            ESTO ME CARGARÍA DIVS CON COLECCIONES DEL USUARIO


                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                                        <div class="card text-white card-has-bg click-col"
                                            style="background-image:url('https://source.unsplash.com/600x900/?tech,street');">
                                            <img class="card-img d-none"
                                                src="https://source.unsplash.com/600x900/?tech,street">
                                            <div class="card-img-overlay d-flex flex-column">
                                                <div class="card-body">
                                                    <small class="card-meta mb-2">categoria de la colección</small>
                                                    <h4 class="card-title mt-0 "><a class="text-white" herf="#">Nombre
                                                            de la colección</a>
                                                    </h4>
                                                    <small><i class="far fa-clock"></i> October 15, 2020</small>
                                                </div>
                                                <div class="card-footer">
                                                    <div class="media">
                                                        <img class="mr-3 rounded-circle"
                                                            src="https://assets.codepen.io/460692/internal/avatars/users/default.png"
                                                            alt="Generic placeholder image" style="max-width:50px">
                                                        <div class="media-body">
                                                            <h6 class="my-0 text-white d-block">Nombre de usuario</h6>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>