<div id="one">
    <div class="container">
        <nav style="--bs-breadcrumb-divider:'>'">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                <li class="breadcrumb-item active">Perfil de {{user?.username}}</li>
            </ol>
        </nav>

        <div class="user_info">
            <section class="info_box bg-light">
                <div class="perfil_img d-flex flex-column pt-3">
                    <div class="text-center my-2">
                        <h3>{{user?.username}}</h3>
                    </div>
                    <figure>
                        <img [src]="user?.avatar" alt="user?.username">
                    </figure>
                    <div class="button_container text-center py-3">
                        <button class="btn btn-success" [routerLink]="['colecciones']">
                            Colecciones de {{user?.username}}
                        </button>
                    </div>
                </div>

                <div class="d-none d-lg-block user_actions_dropdown">
                    <div>
                        <button class="btn btn-success ms-3" type="button" data-bs-toggle="collapse"
                            data-bs-target="#menu_collapse">
                            Menu
                        </button>
                    </div>
                    <div class="collapse" id="menu_collapse">
                        <div class="card card-body">
                            <ul class="nav nav-tabs d-flex flex-column">
                                <li class="nav-item nav-link">Añadir a amigos</li>
                                <li class="nav-item nav-link">Enviar email</li>
                                <li class="nav-item dropdown-divider"></li>
                                <li class="nav-item nav-link">Voto positivo</li>
                                <li class="nav-item nav-link">Voto negativo</li>
                                <li class="nav-item nav-link">Denunciar</li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="d-block d-lg-none user_actions_dropdown">
                    <div>
                        <button class="btn btn-success ms-3" type="button" data-bs-toggle="collapse"
                            data-bs-target="#menu_collapse">
                            Menu
                        </button>
                    </div>
                    <div class="collapse" id="menu_collapse">
                        <div class="card card-body">
                            <ul class="nav nav-tabs d-flex flex-column">
                                <li class="nav-item nav-link">Añadir a amigos</li>
                                <li class="nav-item nav-link">Enviar email</li>
                                <li class="nav-item dropdown-divider"></li>
                                <li class="nav-item nav-link">Voto positivo</li>
                                <li class="nav-item nav-link">Voto negativo</li>
                                <li class="nav-item nav-link">Denunciar</li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="perfil_tabs mt-3">

                    <nav>
                        <ul class="nav nav-tabs">
                            <li class="nav-item nav-link" [ngClass]="{'active': profileTab === 'informacion'}"
                                (click)="cargarArticle('informacion')">
                                Información
                            </li>
                            <li class="nav-item nav-link" [ngClass]="{'active': profileTab === 'productos'}"
                                (click)="cargarArticle('productos')">
                                Productos
                            </li>
                            <li class="nav-item nav-link" [ngClass]="{'active': profileTab === 'colecciones'}"
                                (click)="cargarArticle('colecciones')">
                                Colecciones
                            </li>
                        </ul>
                    </nav>

                    <div class="content">

                        <article *ngIf="profileTab === 'informacion'">
                            <div class="info_eval">
                                <div class="info_top d-flex justify-content-center">

                                    <div class="circle mt-4">
                                        <div>
                                            <i *ngIf="user?.trusted === 1" class="fa-solid fa-star trusted_star"></i>

                                            <img [src]="user?.avatar" alt="user?.username">
                                        </div>
                                    </div>
                                </div>
                                <div class="info_text text-center my-4">
                                    <p>
                                        <strong>98%</strong>
                                        de valoraciones positivas
                                        <br>
                                        en 139 ventas (26 miembros).
                                    </p>
                                </div>
                                <div class="rating_text">
                                    <ul class="d-flex justify-content-between">
                                        <li class="positive">
                                            <span>{{user?.rating}} Positivas</span>
                                        </li>
                                        <li class="neutral">
                                            <span>4 Neutrales</span>
                                        </li>
                                        <li class="negative">
                                            <span>1 Negativas</span>
                                        </li>
                                    </ul>
                                    <p class="text-muted small ps-3">* Valoraciones recibidas en los últimos 6 meses.
                                    </p>
                                </div>
                            </div>

                            <div class="info_bio p-3">
                                <div class="my-3 ps-3">
                                    <strong>Nombre completo:</strong>
                                    <span>{{user?.nombre}} {{user?.apellidos}}</span>
                                </div>
                                <div class="my-3 ps-3">
                                    <strong>Email:</strong>
                                    <span>{{user?.email}}</span>
                                </div>
                                <div class="my-3 ps-3">
                                    <strong>Fecha de nacimiento:</strong>
                                    <span>{{user?.fecha_nacimiento | date:'dd MMMM YYYY'}} - {{userEdad}} años</span>
                                </div>
                                <div class="my-3 ps-3">
                                    <strong>Miembro desde:</strong>
                                    <span>{{user?.fecha_registro | date: 'dd MMMM YYYY'}} - {{userAntiguedad}}
                                        días</span>
                                </div>
                                <div class="my-3 ps-3">
                                    <strong>Última conexión:</strong>
                                    <span class="text-muted">Menos de 24 horas</span>
                                    <span class="text-success">Online</span>
                                    <span class="text-danger">Más de 1 semana</span>
                                </div>

                                <div class="my-3">
                                    <strong class="ps-3">Ubicación:</strong>
                                    <span class="ps-3"><i class="fa fa-map-marker me-2"></i>{{user?.direccion}}</span>
                                    <!-- <input ngx-google-places-autocomplete [options]="options" #placesRef="ngx-places"
                                        (onAddressChange)="handleAddressChange($event)"> -->

                                    <div class="mapita">
                                        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
                                        </agm-map>
                                    </div>
                                </div>

                            </div>
                        </article>

                        <article *ngIf=" profileTab==='productos'">
                            <br>
                            ESTO ES PRODUCTOS
                            <br>
                            ESTO ME CARGARÍA DIVS CON PRODUCTOS DEL USUARIO
                            <br>
                        </article>

                        <article *ngIf=" profileTab==='colecciones'">
                            <br>
                            ESTO ES COLECCIONES
                            <br>
                            ESTO ME CARGARÍA DIVS CON COLECCIONES DEL USUARIO
                            <br>

                        </article>

                    </div>

                </div>
            </section>
        </div>
    </div>
</div>