#one {
    margin-top: 80px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.breadcrumb-item.active {
	color: black;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 75px;
}

img {
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

article {
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    margin: 0 8px 0 8px;
}

.perfil_img figure {
    margin: 0 auto;
    width: 300px;
    max-height: 300px;
    border: 1px solid #aaa;
}

.perfil_img figure img {
    margin: 0 auto;
    padding: 5px;
}

.perfil_tabs nav ul li {
    cursor: pointer;
    margin-inline: 10px;
    padding: 5px;
}

.info_top {
    padding-top: 25px
}

.info_top .circle {
    height: 320px;
    width: 320px;
    border-radius: 50%;
    border: 10px solid var(--colorPrimario);
}

.circle>div {
    position: relative;
    border-radius: 50%;
    height: 294px;
    width: 294px;
    margin-top: 3px;
    margin-left: 3px;
}


.circle>div img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.trusted_star {
    position: absolute;
    right: -25px;
    top: -25px;
    font-size: 34px;
    color: goldenrod;
}

.rating_text ul {
    padding-left: 0;
}

.rating_text ul li {
    text-align: center;
    margin: 0 auto;
    width: 110px;
    height: 55px;
    padding: 13px 5px;
}

.rating_text p {
    padding-bottom: 20px;
}

.positive {
    background-color: #88af5439;
    border-bottom: 3px solid var(--colorQuinario);
}

/* .neutral {
    background-color: #adadac39;
    border-bottom: 3px solid #adadac;
}

.negative {
    background-color: #d36f4d50;
    border-bottom: 3px solid #b15c3f;
} */

/* .info_bio {
    border-top: 1px solid #e2e5ea;
} */

.info_bio div {
    display: flex;
    flex-direction: column;
}

.mapita {
    margin: 20px auto;
    height: 465px;
    width: 465px;
}

.card-img-top {
    height: 414px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

agm-map {
    height: 100%;
    width: 100%;
}

/* Aprovecho queries default de bootstrap*/

/* @media (min-width: 576px) { 

} */

@media (min-width: 768px) {

    .mapita {
        height: 400px;
        width: 610px;
    }
}

@media (min-width: 992px) {

    .mapita {
        height: 500px;
        width: 850px;
    }

    .user_actions_dropdown {
        position: relative;
    }

    .user_actions_dropdown div:first-child {
        position: absolute;
        top: -380px;
        right: 20px;
    }

    #menu_collapse .card-body {
        /* flex: 1 1 auto; */
        padding: 0;
    }

    #menu_collapse>div {
        /* margin-top: 43px; */
        margin-right: 40px;
    }

    #menu_collapse div ul {
        width: fit-content;
        height: auto;
        border: 1px solid #dee2e6;
    }

    #menu_collapse div ul li {
        cursor: pointer;
    }

}

@media (min-width: 1200px) {

    .mapita {
        height: 650px;
        width: 1000px;
    }
}

@media (min-width: 1400px) {

    .mapita {
        height: 650px;
        width: 1200px;
    }
}

/* INICIO--PERFIL/PRODUCTOS-- */



.botonera {
    position: absolute;
    right: 0px;
    top: 480px;
    opacity: 0;
}

.card-img-top {
    height: 414px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: 0.3s;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    border-radius: .25rem;
    overflow: hidden;
}

#usuario_info {
    font-size: 0.8rem;
    line-height: 1.1em;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
}

.prod_caracteristicas {
    list-style: none;
    margin: 0;
}

#trusted_icon {
    position: absolute;
    top: 5px;
    right: 5px;
}

.product-card:hover .card-img-top {
    background-size: 125%;
}

.product-card:hover .botonera {
    right: 40px;
    top: 480px;
    opacity: 1;
    transition: 0.3s;
}

ul {
    padding: 0;
}

.flex {
    display: flex;
    justify-content: flex-start;
}

@media(max-width: 767px) {
    .addProducto {
        width: 75%;
    }

    .flex {
        justify-content: center;
    }
}

/* FINAL--PERFIL/PRODUCTOS-- */