<nav class="fixed-top navbar navbar-expand-lg navbar-light bg-white shadow">
    <div class="container-fluid">
        <a class=" txt navbar-brand" [routerLink]="['/home']">
            <img class="img-resize" src="./assets/dani/LOGO_SIN_TXT_1.png">
        </a>
        <a class=" txtlogo navbar-brand fs-3" [routerLink]="['/home']">
            <img src="/assets/dani/txt.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/home']">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/perfil', user?.id]">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/productos']">Productos</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/colecciones']">Colecciones</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link logout" (click)="logout()">
                        Logout
                        <!-- <i class="ms-1 fa-solid fa-right-from-bracket"></i> -->
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>