<div class="bg-light">
    <div class="container">
        <div class="row pt-4">

            <div class="col-12 pt-4 col-md-4">

                <figure>
                    <img class="img-resize" src="../../../assets/dani/LOGO_BYN_1.png" alt="">
                </figure>
                <p>CoCo es una aplicación dedicada a la venta y exposición de articulos de coleccionismo de cualquier
                    tipo, pretendemos construir una plataforma comunitaria donde nuestros usuarios entablezcan puentes a
                    la hora de compartir sus gustos .Somos una plataforma ecofriendly (por eso nuestra gama
                    cromatica en la aplicación en homenaje a la naturaleza, la tierra y la pureza).</p>
            </div>
            <div class="d-flex flex-column pt-4 col-6 col-md-4">
                <ul class="list-links">
                    <h5><strong>Comunidad</strong></h5>
                    <div class="mt-4"></div>
                    <li>¿Quiénes somos?</li>
                    <li>Condiciones de uso de la página</li>
                    <li>Gestión de uso de la página</li>
                    <li>Gestión de las cookies</li>
                </ul>
            </div>

            <div class="d-flex flex-column pt-4 col-6 col-md-4">
                <ul class="list-links">
                    <h5><strong>Colección</strong></h5>
                    <div class="mt-4"></div>
                    <li><a>Comprar artículos</a></li>
                    <li><a>Vende tus colecciones</a></li>
                    <li><a>Invierte en COCO</a></li>
                    <li><a>Dona</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between">
            <div>
                © 2022 CoCo App Team
            </div>
            <div>
                <ul class="d-flex flex-row">
                    <li class="mx-3">
                        <a href="">privacidad</a>
                    </li>
                    <li>
                        <a href="">Términos de Servicio</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>