<div class="bg-light">
    <div class="container">
        <div class="row pt-4">

            <div class="col-4">
                <figure>
                    <img class="img-resize" src="../../../assets/ilustracion-coco-login.webp" alt="">
                </figure>
                <h4><strong>CoCo App</strong></h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam consequuntur dolor, accusamus libero
                    tempora laborum voluptatum fugit eaque placeat modi?</p>
            </div>
            <div class="d-flex flex-column pt-4 col-4">
                <ul class="list-links">
                    <h5><strong>TITULO</strong></h5>
                    <div class="mt-4"></div>
                    <li>Aqui</li>
                    <li>Van Diferentes</li>
                    <li>Links a</li>
                    <li>Nuestra Web</li>
                </ul>
            </div>

            <div class="d-flex flex-column pt-4 col-4">
                <ul class="list-links">
                    <h5><strong>TITULO</strong></h5>
                    <div class="mt-4"></div>
                    <li><a>Aqui también</a></li>
                    <li><a>Y aqui</a></li>
                    <li><a>Probablemente aquí</a></li>
                    <li><a>Aqui los lunes NO</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between">
            <div>
                © 2022 CoCo App Team
            </div>
            <div>
                <ul class="d-flex flex-row">
                    <li class="mx-3">Privacidad</li>
                    <li>Términos de Servicio</li>
                </ul>
            </div>
        </div>
    </div>
</div>