#hero {
    background: linear-gradient(rgba(131, 219, 175, 0.803), rgba(182, 149, 18, 0.638));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 850px;
}

.btn-outline-success {
    color: var(--colorPrimario);
    border-color: var(--colorPrimario);
}

.btn-outline-success:hover {
    color: white;
    background-color: var(--colorPrimario);
}

.btn-success {
    color: white;
    background-color: rgb(77, 162, 107);
    border-color: transparent;
    transition: 300ms ease-in-out;
}

figure {
    margin: 0;
}


h2 {
    font-weight: 700;
    font-size: 22px;
}

h4 {
    font-size: 16px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    margin: 0
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 500px;
    margin: 0 auto;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0;
    border-radius: 10px;
}

.card a {
    text-decoration: none;
}

.hero_left_text {
    margin-top: 20px;
    text-align: center;
}

.hero_left_text h4 {
    margin: 20px auto 30px auto;
}

.hero_left_btns {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.hero_left_btns button {
    padding: 13px 25px;
    margin: 0 9px;
    border-radius: 10px;
    font-weight: 700;
}

.hero_right_card {
    padding: 40px 0;
}

.card-img, .card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.hero_right_card article .card div .card_collection_img {
    width: 100%;
    height: 170px;
    border: none;
}

.hero_right_card .card img {
    width: 100%;
    height: 100%;
}

.hero_right_card .user_info {
    display: flex;
}

.user_info {
    display: flex;
    font-size: 12px;
    justify-content: space-between;
}

.user_info_left {
    display: flex;
    flex-direction: row;
}

.user_info_left .card_text_left {
    flex-direction: column;
    text-align: start;
    padding-left: 10px;
    font-size: 14px;
}

.user_info_right .card_text_right {
    display: flex;
    text-align: end;
    flex-direction: column;
    font-size: 14px;
    padding-right: 5px;
}

.user_info_left .card_text_left span {
    display: block;
}

.hero_right_card .img-resize {
    width: 33px;
    height: 33px;
}

.hero_right_card .card_avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.banner {
    cursor: pointer;
    width: 95%;
    margin: 0 auto;
}

.banner>div {
    background-image: url('../../../assets/bg_banner_home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
}


.banner_text ul {
    font-size: 16px;
    font-weight: 700;
    color: rgb(16, 17, 73);
    background-color: rgb(228, 211, 211);
    padding: 15px;
    border-radius: 30px;
}

.banner_button button {
    font-size: 16px;
    font-weight: 700;
}

.card_collection_img{
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

@media(min-width: 992px) {

    #hero {
        height: 800px;
    }

    .hero_right_card article .card div .card_collection_img {
        height: 260px;
    }

    .hero_left_text {
        margin-top: 20px;
        text-align: start;
    }

    .hero_left_text h2 {
        font-size: 30px;
    }

    .hero_left_text h4 {
        font-size: 21px;
    }

    .hero_left_btns {
        align-items: flex-start;
        justify-content: start;
        margin-top: 50px;
    }

    .hero_left_btns button {
        padding: 15px 45px;
    }

    .banner_text ul {
        font-size: 16px;
    }

    .banner_button button {
        font-size: 16px;
    }

}