<div id="hero" class="mb-5">
    <div class="container">
        <section class="hero row">
            <div class="hero_left col-12 col-md-5">
                <div class="hero_left_text">
                    <h1>
                        Descubre, colecciona y vende extraordinarios productos
                    </h1>
                    <h4>¡En Coco App podrás compartir tus colecciones con nuestra comunidad!</h4>
                </div>
                <div class="hero_left_btns">
                    <button class="btn btn-success">
                        Explora
                    </button>
                    <button class="btn btn-light">
                        Agrega
                    </button>
                </div>
            </div>

            <div class="col-2"></div>

            <div class="hero_right col-12">

                <div class="hero_right_card">
                    <article>
                        <div class="card">
                            <a [routerLink]="['/login']">
                                <img src="https://i.imgur.com/i2RTPH1.jpeg" class="card-img-top">
                                <div class="p-2">
                                    <div>
                                        <!-- <img class="img-resize" src="" alt=""> -->
                                    </div>
                                    <div class="texto-card">
                                        <h4>Colección</h4>
                                        <h4>by Usuario</h4>
                                    </div>

                                </div>
                            </a>
                        </div>
                    </article>
                </div>

            </div>
        </section>
    </div>
</div>

<div>
    <div>
        <hr class="w-50 mx-auto mt-2">
        <h2 class="text-center my-4">Aquí tienes algunos de nuestros productos</h2>
        <hr class="w-50 mx-auto mb-2">
    </div>
</div>