 .primigenio {
     background-color: linear-gradient(60deg, var(--colorPrimario), 0%);
     /* margin-top: 75px; */
 }

 #hero {
     background: url(https://www.madridiario.es/fotos/1/137426_macchinine_tienda_coleccionismo_miniaturas_coches23_kr_thumb_722.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     height: 75vh;
 }

 .hero_text {
    margin-top: 250px;
    font-weight: 700;
 }

 .banner-top {
     padding-top: 30px;
 }

 .container {
     display: block;
 }

 .pos-rel {
     color: var(--colorSecundario);
     padding: 20px;
     border-radius: 5px;
     text-align: center;
 }

 .block-imagen {
     background-image: url(https://www.madridiario.es/fotos/1/137426_macchinine_tienda_coleccionismo_miniaturas_coches23_kr_thumb_722.jpg);
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
     width: 100%;
     height: 400px;
 }

 /* pruebas con section cards */

 .wrapper {
     margin: 10vh;
 }