<div class="primigenio">
    <section class="banner-top">
        <div class="container">
            <div class="pos-rel">
                <div class="block-text">
                    <h1>¡ Ultimas colecciones !</h1>
                    <h2>¡descubre aquí las ultimas colecciones subidas por nuestros usuarios!</h2>
                </div>
                <div class="block-imagen">

                </div>
            </div>
        </div>
    </section>
    <section class="wrapper">


        <div class="container">

            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mb-4" *ngFor="let coleccion of colecciones;">
                    <app-collection-card [coleccion]="coleccion"></app-collection-card>
                </div>
            </div>

        </div>


    </section>

</div>