<div class="primigeneo d-flex justify-content-center vh-100">
    <div class="container d-flex justify-content-center vh-100">
        <form novalidate="true" [formGroup]="registerForm" (ngSubmit)="getDataForm()" class="registro form-floating ">

            <div class="title py-4">
                <h1>¡Bienvenido Coleccionista!</h1>
            </div>

            <div class="form-floating mb-3 mt-4">
                <input type="text" formControlName="nombre" class="form-control validacion" id="nombre"
                    placeholder="Nombre">
                <label for="nombre">Nombre</label>
                <p class="error"
                    *ngIf="registerForm.get('nombre')?.hasError('required') && registerForm.get('nombre')?.touched">El
                    campo es obligatorio
                </p>
            </div>
            <div class="form-floating mb-3">
                <input type="text" formControlName="apellidos" class="form-control" id="apellidos"
                    placeholder="Apellidos">
                <label for="apellidos">Apellidos</label>

                <p class="error"
                    *ngIf="registerForm.get('apellidos')?.hasError('required') && registerForm.get('apellidos')?.touched">
                    El
                    campo es obligatorio
                </p>

            </div>

            <div class="form-floating mb-3">
                <input type="date" formControlName="fecha_nacimiento" class="form-control validacion"
                    id="fecha_nacimiento" placeholder="introduce tu fecha de nacimiento">
                <label for="apellidos">Fecha de nacimiento</label>

                <p class="error"
                    *ngIf="registerForm.get('fecha_nacimiento')?.hasError('agevalidator') && registerForm.get('fecha_nacimiento')?.touched">
                    Has de ser mayor de edad para registrarte.
                </p>
            </div>

            <div class="form-floating mb-3">
                <input type="email" formControlName="email" class=" form-control" id="email" placeholder="E-mail">
                <label for="email">E-mail</label>

                <p class="error"
                    *ngIf="registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched">
                    Debes de introducir un correo electrónico.
                </p>

                <p class="error"
                    *ngIf="registerForm.get('email')?.hasError('pattern') && registerForm.get('email')?.touched">
                    El formato del correo electrónico ha de ser válido.
                </p>
            </div>
            <div class="form-floating mb-3">

                <input type="text" formControlName="direccion" class="form-control" id="address validacion"
                    placeholder="Dirección" ngx-google-places-autocomplete [options]="options" #placesRef="ngx-places"
                    (onAddressChange)="handleAddressChange($event)">

                <label for="address">Dirección</label>
                <p class="error"
                    *ngIf="registerForm.get('address')?.hasError('required') && registerForm.get('address')?.touched">
                    Debes de introducir una dirección.
                </p>
            </div>
            <div class="form-floating mb-3">
                <input type="text" formControlName="username" class="form-control" id="usuario"
                    placeholder="Nombre de usuario">
                <label for="usuario">Nombre de usuario</label>

                <p class="error"
                    *ngIf="registerForm.get('username')?.hasError('required') && registerForm.get('username')?.touched">
                    Debes introducir un nombre de usuario.
                </p>

                <p class="error"
                    *ngIf="registerForm.get('username')?.hasError('minlength') && registerForm.get('username')?.touched">
                    El nombre de usuario no puede tener menos de 5 carácteres.
                </p>

                <p class="error"
                    *ngIf="registerForm.get('username')?.hasError('userdupevalidator') && registerForm.get('username')?.touched">
                    Usuario duplicado.
                </p>

            </div>

            <div class="form-floating mb-3">
                <input type="password" formControlName="password" class="form-control" id="password validacion"
                    placeholder="Contraseña">
                <label for="password">Contraseña</label>

                <p class="error"
                    *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched">
                    Debes de introducir una contraseña.
                </p>

                <p class="error"
                    *ngIf="registerForm.get('password')?.hasError('minlength') && registerForm.get('password')?.touched">
                    La contraseña debe de tener un mínimo de 5 carácteres.
                </p>

                <p class="error"
                    *ngIf="registerForm.get('password')?.hasError('passwordValidator') && registerForm.get('password')?.touched">
                    Las contraseñas deben coincidir.
                </p>
            </div>

            <div class="form-floating mb-3">
                <input type="password" formControlName="repeatpassword" class="form-control validacion"
                    id="repeat_password" placeholder="Repite la contraseña">
                <label for="repeatpassword">Repite la contraseña, por favor.</label>

                <p class="error"
                    *ngIf="registerForm.hasError('passwordvalidator')&& registerForm.get('repeatpassword')?.touched">
                    Las contraseñas deben coincidir.
                </p>

            </div>

            <div class=" botonera d-flex justify-content-around">
                <input class="btn btn-success px-5" type="reset" name="limpiar" id="limpiar" value="Limpiar campos">
                <input class="btn btn-success px-5" type="submit" id="enviar" value="Completar registro"
                    [disabled]="!registerForm.valid">
            </div>

        </form>

    </div>
</div>