<div class="card card-body  fondito my-5 pt-5 border-0">
    <div class="text-center">
        <h2>Editar info de {{user?.username}}</h2>
    </div>
    <form class="w-25 my-3 mx-auto py-3 rounded-3" novalidate [formGroup]="userBioForm"
        (ngSubmit)="getDataForm(userBioForm)">

        <div class="form-floating my-3">
            <input type="text" class="form-control" formControlName="nombre" id="nombre" placeholder="">
            <label for="nombre">Nombre</label>
        </div>

        <div class="form-floating my-3">
            <input type="text" class="form-control" formControlName="apellidos" id="apellidos" placeholder="">
            <label for="apellidos">Apellidos</label>
        </div>

        <div class="form-floating my-3">
            <input type="text" class="form-control" formControlName="discord" id="discord" placeholder="">
            <label for="discord">Discord</label>
        </div>

        <div class="form-floating my-3">
            <input type="text" class="form-control" formControlName="email" id="email" placeholder="">
            <label for="email">Email</label>
        </div>

        <div class="form-floating my-3">
            <input type="text" class="form-control" formControlName="avatar" id="avatar" placeholder="">
            <label for="avatar">Avatar (URL)</label>
        </div>

        <input class="btn btn-secondary w-100 my-3" type="submit" id="editar" value="Editar">
    </form>

    <!-- <img #avatarcillo [src]="avatarcillo"> -->

</div>